{
  "extends": [
    "oceanprotocol",
    "oceanprotocol/react",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": { "browser": true, "node": true, "es2020": true, "jest": true },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
