language: node_js
node_js: node

# will run `npm install` automatically here

script:
    - npm test
    - npm run build

notifications:
    email: false

cache:
    directories:
        - node_modules
