@import 'variables';

.version {
    font-size: $font-size-base;
    font-family: $font-family-monospace;
    color: $brand-grey-light;
}

.swaggerMeta {
    margin-top: -($spacer);
    padding: 0;
    font-size: $font-size-small;

    li {
        display: inline-block;
        margin-left: $spacer;

        &:first-child {
            margin-left: 0;
        }

        &:before {
            display: none;
        }
    }
}

.basePath {
    margin-top: $spacer;

    h2 {
        font-size: $font-size-h3;
        border-bottom: 1px solid $brand-grey-lighter;
        padding-bottom: $spacer / 2;
        margin-top: $spacer * 2;
        margin-bottom: $spacer;
    }

    span {
        color: $brand-grey-light;
    }

    code {
        // stylelint-disable-next-line
        font-size: $font-size-large !important;
        font-weight: $font-weight-bold;
    }
}

.pathName {
    font-size: $font-size-h3;
    border-bottom: 1px solid $brand-grey-lighter;
    padding-bottom: $spacer / 2;
    margin-top: $spacer * 2;
    margin-bottom: $spacer;

    code {
        // stylelint-disable-next-line
        background: none !important;
    }
}

.pathMethod {
    font-size: $font-size-base;
    font-family: $font-family-monospace;
    margin-bottom: $spacer / 4;
    margin-top: 0;
    display: inline-block;
    padding: $spacer / 8 $spacer / 3;
    border-radius: $border-radius;
    text-transform: uppercase;

    &[data-type='get'] {
        background: rgba($green, .4);
    }

    &[data-type='post'] {
        background: rgba($brand-blue, .4);
    }

    &[data-type='put'] {
        background: rgba($brand-violet, .3);
    }

    &[data-type='delete'] {
        background: rgba($red, .4);
    }
}

.method {
    padding: $spacer / 2;
    border: 1px solid $brand-grey-lighter;
    margin-bottom: $spacer;
    border-radius: $border-radius;
}

.subHeading {
    font-size: $font-size-h5;
}

.parameters {
    h5 {
        font-size: $font-size-small;
        margin-bottom: $spacer / 4;
    }

    pre {
        max-height: 80vh;

        code {
            padding: $spacer / $line-height;
        }
    }
}

.parameterRequired {
    font-size: $font-size-small;
    vertical-align: top;
    color: $brand-purple;
}

.parameterType {
    font-weight: $font-weight-base;
    margin-left: $spacer / 4;
    color: $brand-grey-light;
}

.response {
    margin-bottom: $spacer / 4;

    code {
        margin-right: $spacer / 4;
    }
}
