@keyframes fadeInUp {
    0% {
        opacity: .01;
        transform: translate3d(0, 5rem, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: .01;
    }

    100% {
        opacity: 1;
    }
}
