@font-face {
    font-family: 'Sharp Sans Display';
    src: url('../fonts/SharpSansDispNo1-Bold.woff2') format('woff2'),
        url('../fonts/SharpSansDispNo1-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Sharp Sans Medium';
    src: url('../fonts/SharpSans-Medium.woff2') format('woff2'),
        url('../fonts/SharpSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Sharp Sans Bold';
    src: url('../fonts/SharpSans-Bold.woff2') format('woff2'),
        url('../fonts/SharpSans-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
