// Colors
$brand-white:         #fff;
$brand-black:         #141414;
$brand-pink:          #ff4092;
$brand-purple:        #7b1173;
$brand-violet:        #e000cf;

$brand-grey:          #41474e;
$brand-grey-light:    #8b98a9;
$brand-grey-dark:     #303030;
$brand-grey-lighter:  #e2e2e2;

$green:               #5fb359;
$red:                 #d80606;
$orange:              #b35f36;
$yellow:              #eac146;

$brand-gradient: linear-gradient(to right bottom, $brand-purple, $brand-pink);

// Fonts
$font-family-base:      'Sharp Sans Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-title:     'Sharp Sans Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-button:    'Sharp Sans Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;

$font-size-root:        15px;
$font-size-base:        1rem;
$font-size-large:       1.25rem;
$font-size-small:       .85rem;
$font-size-mini:        .65rem;
$font-size-text:        $font-size-base;
$font-size-label:       $font-size-base;
$font-size-title:       1.4rem;
$font-size-h1:          3.4rem;
$font-size-h2:          2.7rem;
$font-size-h3:          2rem;
$font-size-h4:          1.5rem;
$font-size-h5:          1.125rem;

$font-weight-base:      500;
$font-weight-bold:      600;

$line-height:           1.5;

// Sizes
$spacer:                2rem;
$page-frame:            .75rem;

$break-point--small:    640px;
$break-point--medium:   860px;
$break-point--large:    1140px;
$break-point--huge:     1400px;
$brand-border-width:    1px;

$border-radius:         .2rem;

$narrowWidth:           35rem;
