@import 'variables';
@import 'animations';

.sections {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -($spacer * 4);

    @media (min-width: $break-point--medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.section {
    margin-top: $spacer;
    animation: fadeInUp .6s ease-out backwards;

    &:before {
        display: none;
    }

    @media (min-width: $break-point--medium) {
        flex: 0 0 31%;
    }
    animation-delay: .4s;

    &:nth-child(2) {
        animation-delay: .6s;
    }

    &:nth-child(3) {
        animation-delay: .8s;
    }

    &:last-child {
        flex-basis: 100%;
        text-align: center;
        opacity: .75;
    }
}

.link {
    display: flex;
    flex-wrap: wrap;
    padding: $spacer $spacer * $line-height;
    border-radius: $border-radius;
    box-shadow: rgba($brand-black, .1) 0 9px 18px;
    color: $brand-grey;
    background: $brand-white;
    height: 100%;

    &:hover,
    &:focus {
        box-shadow: rgba($brand-black, .1) 0 12px 20px;

        svg {
            transform: translate3d(.2rem, 0, 0);
        }
    }
}

.purple {
    .sectionTitle,
    .sectionMore {
        color: $brand-purple;
    }
}

.blue {
    .sectionTitle,
    .sectionMore {
        color: $brand-blue;
    }
}

.orange {
    .sectionTitle,
    .sectionMore {
        color: $orange;
    }
}

.green {
    .sectionTitle,
    .sectionMore {
        color: $green;
    }
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: $spacer / $line-height;
    width: 100%;
}

.sectionText {
    margin-bottom: 0;
    color: $brand-grey;
    width: 100%;
}

.sectionMore {
    align-self: flex-end;
    margin-top: $spacer / $line-height;
    color: $brand-pink;
    width: 100%;
    font-family: $font-family-button;
    font-weight: $font-weight-bold;

    svg {
        display: inline-block;
        width: $font-size-small;
        height: $font-size-small;
        fill: $brand-grey-light;
        transition: transform .2s ease-out;
    }
}
