@import 'variables';

.link {
  color: $brand-grey;
  display: inline-block;
  padding: $spacer / 6 $spacer / 2;
  border-left: 0.1rem solid transparent;
  margin-left: -0.05rem;

  &:hover,
  &:focus {
    transform: none;
    color: $brand-purple;

    :global(.setup) & {
      color: $brand-blue;
    }
  }
}

.active {
  composes: link;
  color: $brand-purple;
  border-left-color: $brand-purple;

  :global(.setup) & {
    color: $brand-blue;
    border-left-color: $brand-blue;
  }
}
