@import 'variables';

.docContent {
    // handling long text, like URLs
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    padding-bottom: $spacer / $line-height;

    figcaption {
        font-size: $font-size-small;
        text-align: center;
        color: $brand-grey-light;
        margin-top: $spacer / 2;
    }

    > div > h1,
    > div > h2 {
        margin-top: $spacer * $line-height;
        margin-bottom: $spacer / $line-height;
        padding-bottom: $spacer / $line-height;
        border-bottom: 1px solid $brand-grey-lighter;
    }

    table {
        overflow-wrap: normal;
        word-wrap: normal;
        word-break: normal;
    }

    :not(pre) > code {
        background: darken($brand-white, 5%);
        color: $brand-grey-dark;
        display: inline-block;
        padding-left: .3rem;
        padding-right: .3rem;
    }

    pre {
        display: block;
        margin-bottom: $spacer;
        padding: 0;
        background: $brand-black;

        // make 'em scrollable
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        code {
            padding: $spacer;
            white-space: pre;
            display: block;
            color: $brand-grey-lighter;
            overflow-wrap: normal;
            word-wrap: normal;
            word-break: normal;
            overflow: auto;
        }
    }
}

.empty {
    font-style: italic;
    margin-bottom: $spacer * 2;
}
