@import 'variables';

.footer {
    margin-top: $spacer;
    padding-top: $spacer;
    margin-bottom: $spacer;
    padding-bottom: $spacer;
    border-top: .1rem solid $brand-grey-lighter;
    font-size: $font-size-small;
    text-align: center;

    a {
        font-family: $font-family-button;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $brand-grey-light;
        margin: 0 $spacer / 2;

        &:hover,
        &:focus {
            color: $brand-pink;
        }

        svg {
            display: inline-block;
            margin-right: $spacer / 10;
            margin-bottom: -1px;
            fill: $brand-grey-light;
        }
    }
}
