@import 'variables';

.headerSection {
    padding: $spacer 0;
    border-bottom: .1rem solid $brand-grey-lighter;
}

.headerSectionTitle {
    margin: 0;
    font-size: $font-size-h3;
    color: $brand-grey-light;
}

.rootLink {
    display: inline-block;
    margin-right: $spacer / 4;
}
