@import 'variables';

.header {
    background: $brand-black;
    width: 100%;
    padding: $spacer / 2 0;
    padding-right: $spacer / 1.5;
}

.headerContent {
    max-width: $break-point--large;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacer;
}

.headerLogo {
    display: flex;
    align-items: center;
    width: 50%;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        transform: none;
    }
}

.headerLogoImage {
    width: 60px;
    height: 60px;
    fill: #fff;
}

.headerTitle {
    font-size: $font-size-h4;
    color: $brand-white;
    margin-left: $spacer;
    display: none;

    @media (min-width: $break-point--small) {
        display: inline-block;
    }
}

.headerMenu {
    justify-self: flex-end;
}
