@import 'variables';

.header {
  background: $brand-grey-dimmed url('@oceanprotocol/art/waves/waves.svg')
    no-repeat center -3rem;
  background-size: cover;
  width: 100%;
  padding: $spacer / 2 0;
}

.headerContent {
  composes: content from './Content.module.scss';
  display: flex;
  align-items: center;
}

.headerLogo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    transform: none;
  }
}

.headerLogoImage {
  width: 4rem;
  height: 4rem;
  margin: 0;
}

.headerTitle {
  font-size: $font-size-h3;
  color: $brand-grey-light;
  margin-left: $spacer / 2;
  display: none;

  @media (min-width: $break-point--medium) {
    display: inline-block;
  }
}

.headerMenu {
  flex: 1;
  justify-self: flex-end;
  text-align: right;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-right: -($spacer / 2);
  padding-right: $spacer;

  @media (min-width: $break-point--medium) {
    padding-right: 0;
    margin-right: 0;
  }

  &::-webkit-scrollbar,
  &::-moz-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    transition: opacity 0.2s ease-out;
  }
}

.section {
  display: inline-block;
  margin: 0 $spacer / 2;
  font-family: $font-family-button;
  color: $brand-grey;

  &:last-child {
    margin-right: 0;
  }
}
