@import 'variables';

.headerSection {
    padding: $spacer / 2 0;
    border-bottom: .1rem solid $brand-grey-lighter;
}

.headerSectionTitle {
    margin: 0;
    font-size: $font-size-h4;
    color: $brand-grey-light;
}
