@import 'variables';

.header {
    background: $brand-black url('@oceanprotocol/art/jellyfish/jellyfish-back@2x.png') no-repeat center -4rem;
    background-size: cover;
    width: 100%;
    padding: $spacer / 2 0;
    padding-right: $spacer / 1.5;
}

.headerContent {
    composes: content from './Content.module.scss';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: flex;
    align-items: center;
    width: 50%;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        transform: none;
    }
}

.headerLogoImage {
    width: 4rem;
    height: 4rem;
    fill: #fff;
    margin: 0;
}

.headerTitle {
    font-size: $font-size-h4;
    color: $brand-white;
    margin-left: $spacer;
    display: none;

    @media (min-width: $break-point--small) {
        display: inline-block;
    }
}

.headerMenu {
    justify-self: flex-end;
}

.section {
    display: inline-block;
    margin: 0 $spacer / 2;
    font-family: $font-family-button;
    color: $brand-grey-light;

    &:hover,
    &:focus {
        color: $brand-white;
    }
}
