@import 'variables';

.searchform input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.searchButtonWrapper {
  display: 'flex';
  align-items: 'center';

}

.searchButton {
  cursor: pointer;

}

.searchContainer {
  display: flex;
  border: 1px solid;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px
}

.searchBox {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: medium;
}

.searchBoxImg {
  padding: 10px;
  min-width: 40px;
  text-align: center;
}

.resultListElement {
  &:before{
    content: '';
  }
}



.resultBox {
  --spacer: 10px;
  --box-shadow-color: rgba(0,0,0,0.2);
  composes: box from "../../styles/box.module.scss";

  .section{
    margin: 0px;
    font-size: $font-size-small;
    color: $brand-grey-dark
  }

  .title {
    font-size: $font-size-large;
    margin: 0;
  }

  .content {
    font-size: $font-size-small;
    margin: 0;
    color: $brand-grey-dark
  }
}
