@import 'variables';

.searchform input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.searchButtonWrapper {
  display: 'flex';
  align-items: 'center';

}

.searchButton {
  cursor: pointer;

}

.searchContainer {
  display: flex;
  border: 1px solid;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px
}

.searchBox {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: medium;
}

.searchBoxImg {
  padding: 10px;
  min-width: 40px;
  text-align: center;
}

.resultListElement {
  &:before{
    content: '';
  }
}

.resultElementCard {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  width: 100%;
}

.resultElementtitle {
  font-size: 1.25rem;
  margin-top: 0px;

}

.resultTextSecondary{
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54)
}