@import 'variables';

.repositoryLists {
    @media (min-width: $break-point--medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.repositoryList {
    @media (min-width: $break-point--medium) {
        flex: 0 0 48%;
    }
}

.repositoryWrapper {
    @media (min-width: $break-point--small) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.repositoryListTitle {
    font-size: $font-size-h3;
    color: $brand-grey-light;
}
