@import 'variables';

.repository {
    padding: $spacer / $line-height;
    border: 1px solid $brand-grey-lighter;
    background: $brand-white;
    border-radius: $border-radius;
    margin-bottom: 4%;

    @media (min-width: $break-point--small) {
        flex: 0 0 100%;
    }
}

.repositoryName {
    font-size: $font-size-large;
    margin-top: 0;
}

.repositoryLinks {
    margin: 0;
    padding: 0;
    margin-left: -($spacer / $line-height);

    li {
        display: inline-block;
        padding: 0;
        margin-left: $spacer / $line-height;

        &:before {
            display: none;
        }
    }

    a {
        font-family: $font-family-button;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }
}
